<style>
    form {
    padding: 15% 40% 10% 40%;
}
</style>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div> 
    <form class="form-group">
        <div>
            <h3>Faça o Seu Cadastro!</h3>
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text"  class="form-control" id="Nome" placeholder="Digite seu Nome">
        </div>

        <div>
            <label for="user">E-mail:</label>
            <input type="email" class="form-control" id="user" placeholder="Digite seu E-mail">
        </div>

        <div>
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" >
        </div>

        <button type="button" class="btn btn-primary">Cadastrar</button>
    </form>
</div>   