<div class="main-container">

    <img class="usuario" src="assets/images/585e4bf3cb11b227491c339a.png" alt="">
    <h1>Cadastro</h1>

    <form [formGroup]="formClient" (ngSubmit)="cadastrarCliente()">

        <div class="full-box">
            <label class="lista" for="">Nome</label>
            <input formControlName="nome" id="nome" type="text" placeholder="Digite seu Nome Completo" autocomplete="off">
        </div>

        <div class="half-box spacing" >
            <label class="lista" for="">RG</label>
            <input formControlName="rg" id="rg" type="text" placeholder="Digite seu RG" autocomplete="off">
        </div> 

        <div class="half-box">
            <label class="lista" for="">CPF</label>
            <input formControlName="cpf" id="cpf" type="text" placeholder="Digite seu CPF" autocomplete="off">
        </div>
        <p style="color: red;">{{ getErrors('title') }}</p>

        <div class="half-box spacing">
            <label class="lista" for="">Endereço </label>
            <input formControlName="endereco" id="address" type="text" placeholder="Digite seu Endereço" autocomplete="off">
        </div>

        <div class="half-box">
            <label class="lista" for="">Telefone</label>
            <input formControlName="telefone" id="telephone" type="text" placeholder="Digite seu Telefone"autocomplete="off">
        </div>

        <div class="full-box">
            <label class="lista" for="">Data de Nacimento</label>
            <input formControlName="dataDeNascimento" id="dateofbirth" type="date" placeholder="Digite sua Data de Nacimento" autocomplete="off">
        </div>

        <div class="full-box">
            <label class="lista" for="">E-mail</label>
            <input formControlName="email" id="email" type="text" placeholder="Digite seu E-mail"autocomplete="off">
        </div>

        <div class="full-box">
            <input type="checkbox" name="agreement" id="agreement">
            <label for="agreement" id="agreement-label" >Eu li e aceito os <a href="#">termos de uso</a></label>
        </div>

        <div class="full-box">
            <button class="enter" type="submit" >Register</button>
        </div>
    </form>
</div>