<div class="login-conteiner">

    <img class="usuario" src="assets/images/585e4bf3cb11b227491c339a.png" alt="">
    <h1>Login</h1>

    <form>

        <div class="full-box">
            <label for="">E-mail:</label>
            <input type="text" name="text" placeholder="Digite seu E-mail" autocomplete="off">
        </div>

        <div class="full-box">
            <label for="">Senha:</label>
            <input type="password" name="text" placeholder="Digite Sua Senha">
            <a href="#" id="forgot-pass">Esqueceu a senha?</a>
        </div>

        <div class="full-box">
            <button class="enter" type="button" (click)="navigate()">Login</button>
        </div>

    </form>

    <div id="social-container">
        <p>Ou entre pelas suas redes sociais</p>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384=oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-linkedin-in"></i>
    </div>

    <div id="register-conteiner">
        <p>Ainda não tem uma conta?</p>
        <a [routerLink]="['/formulario-cliente']">Cadastra-se</a>
    </div>
    
</div>